.container {
  margin: auto;
  margin-left: 680px;
  margin-right: 10px;
}

.container .title img {
    margin: auto;
    height: 50%;
    width: 50%;
  }

.container img {
  margin: auto;
  margin-top: 100px;
  display: list-item;
  width: 10%;
  height: 10%;
}

.container .shuriken img:hover {
  transform: rotate(45deg);
}

.container .body h1 {
  text-align: center;
  margin: auto;
  font-size: 50px;
  color: lightgray;
  margin-top: 20px;
}

.body {
  background-color: #383838;
  margin-top: -100px;
}

.body .contact {
  margin-top: -220px;
  margin-left: 370px;
  position: absolute;
}

.body .email{
    margin-left: 35px;
    font-size: 100px;
    color: darkgray;
}

.body .email:hover{
    color: lightgray;
}

.body .email p{
    font-size: 30px;
    color: darkgray;
    visibility: hidden;
}

.body .email:hover p{
    color: white;
    bottom:30px;
    left:0px;
    visibility: visible;
}

.body .linkedin{
    font-size: 100px;
    color: darkgray;
}

.body .linkedin:hover{
    color: lightgray;
}

.body .github{
    margin: auto;
    font-size: 100px;
    margin-left: 40px;
    text-decoration: none;
    color: darkgray;
}

.body .github:hover{
    color: lightgray;
}

.container .footer {
  margin-left: 41px;
  margin-top: 200px;
}

.container .footer .leftarrow {
  display: none;
}

@media screen and (max-width : 2560px) {
  .container .footer {
    font-size: 30px;
  }

  .container .footer .rightarrow {
    margin-top: -175px;
    margin-left: 680px;
  }
}


@media screen and (max-width : 1920px) {

    .container {
      margin: auto;
      margin-left: 400px;
      margin-right: 10px;
    }

    .container .contact {
      margin-top: -80px;
    }

    .container .footer {
      font-size: 20px;
      margin-left: 41px;
      margin-top: 150px;
    }
    .container .footer .rightarrow {
      margin-top: -135px;
      margin-left: 640px;
    }
}

@media screen and (max-width : 1680px) {
    .container {
      text-align: center;
      margin-left: 300px;
    }
}
@media screen and (max-width : 1440px) {

  .container {
    margin: auto;
    margin-left: 110px;
    margin-right: 10px;
  }
  
  .container .title img {
      margin: auto;
      height: 30%;
      width: 30%;
    }
  
  .container img {
    margin: auto;
    margin-top: 100px;
    display: list-item;
    width: 6%;
    height: 6%;
  }
  
  .container .shuriken img:hover {
    transform: rotate(45deg);
  }
  
  .container .body h2 {
    text-align: center;
    margin: auto;
    font-size: 30px;
    color: lightgray;
    margin-top: 100px;
  }
  
  .body {
    background-color: #383838;
    margin-top: -200px;
  }
  
  .body .email{
      margin-left: 25px;
      font-size: 70px;
      color: darkgray;
  }
  
  .body .email p{
      font-size: 30px;
      color: darkgray;
      visibility: hidden;
  }
  
  .body .linkedin{
      font-size: 70px;
      color: darkgray;
  }
  
  
  .body .github{
    margin: auto;
      font-size: 70px;
      text-decoration: none;
      color: darkgray;
  }
  
  .container .footer {
    font-size: 20px;
  }

  .container .footer .rightarrow {
    margin-top: -134px;
    margin-left: 620px;
  }



  }

  @media screen and (max-width : 1280px) {

    .container {
      margin: auto;
      margin-left: 0px;
      margin-right: 10px;
    }
    
    .container .title img {
        margin: auto;
        height: 30%;
        width: 30%;
      }
    
    .container img {
      margin: auto;
      margin-top: 100px;
      display: list-item;
      width: 6%;
      height: 6%;
    }
    
    .container .shuriken img:hover {
      transform: rotate(45deg);
    }
    
    .container .body h2 {
      text-align: center;
      margin: auto;
      font-size: 30px;
      color: lightgray;
      margin-top: 100px;
    }
    
    .body {
      background-color: #383838;
      margin-top: -200px;
    }
    
    .body .email{
        margin-left: 25px;
        font-size: 70px;
        color: darkgray;
    }
    
    .body .email p{
        font-size: 30px;
        color: darkgray;
        visibility: hidden;
    }
    
    .body .linkedin{
        font-size: 70px;
        color: darkgray;
    }
    
    
    .body .github{
      margin: auto;
        font-size: 70px;
        text-decoration: none;
        color: darkgray;
    }
      
    }

    @media screen and (max-width : 1024px) {

      .container {
        margin: auto;
        margin-left: 0px;
        margin-right: 10px;
      }
      
      .container .title img {
          margin: auto;
          height: 30%;
          width: 30%;
        }
      
      .container img {
        margin: auto;
        margin-top: 100px;
        display: list-item;
        width: 6%;
        height: 6%;
      }
      
      .container .shuriken img:hover {
        transform: rotate(45deg);
      }
      
      .container .body h1 {
        text-align: center;
        margin: auto;
        font-size: 30px;
        color: lightgray;
        margin-top: 100px;
      }
      
      .body {
        background-color: #383838;
        margin-top: -200px;
      }

      .container .contact {
        margin-left: 290px;
      }
      
      .body .email{
          margin-left: 25px;
          font-size: 70px;
          color: darkgray;
      }
      
      .body .email p{
          font-size: 30px;
          color: darkgray;
          visibility: hidden;
      }
      
      .body .linkedin{
          font-size: 70px;
          color: darkgray;
      }
      
      
      .body .github{
        margin: auto;
          font-size: 70px;
          text-decoration: none;
          color: darkgray;
      }

      .container .footer {
        margin-top: -200px;
      }

      .container .footer .rightarrow {
        margin-left: 520px;
      }
        
      }
  
 @media screen and (max-width : 768px) {

  .container .title img {
    margin: auto;
    height: 20%;
    width: 20%;
  }
  
  .container img {
    margin: auto;
    margin-top: 100px;
    display: list-item;
    width: 5%;
    height: 5%;
  }
  
  .container .body h1 {
    text-align: center;
    margin: auto;
    font-size: 30px;
    margin-top: 100px;
  }

  .container .body .contact {
    margin-left: 230px;
    margin-top: -140px;
  }
  
  .body .email{
    margin-left: 9px;
    font-size: 40px;
  }
  
  .body .email p{
    font-size: 18px;
  }
  
  .body .linkedin{
    font-size: 40px;
    color: darkgray;
  }
  
  .body .github{
    font-size: 40px;
  }

  .container .footer {
    font-size: 15px;
  }

  .container .footer .rightarrow {
    margin-left: 400px;
    margin-top: -115px;
  }
  
}

 @media screen and (max-width : 425px) {

  .container .title img {
    margin: auto;
    margin-top: 80px;
    height: 30%;
    width: 30%;
  }
  
  .container img {
    margin: auto;
    margin-top: 100px;
    display: list-item;
    width: 5%;
    height: 5%;
  }
  
  .container .body h1 {
    text-align: center;
    margin: auto;
    font-size: 18px;
    margin-top: 50px;
  }

  .container .body .contact {
    margin: auto;
    margin-left: 140px;
    margin-top: -150px;
  }
  
  .body .email{
    margin-left: 9px;
    font-size: 30px;
  }
  
  .body .email p{
    font-size: 10px;
  }
  
  .body .linkedin{
    font-size: 30px;
  }
  
  .body .github{
    font-size: 30px;
  }
  
  .container .footer {
    margin-top: -300px;
    font-size: 13px;
  }
  .container .footer .rightarrow {
    margin-left: 240px;
    margin-top: -105px;
  }
  
}


 @media screen and (max-width : 375px) {

  .container .title img {
    margin: auto;
    margin-top: 60px;
    height: 40%;
    width: 40%;
  }
  
  .container img {
    margin: auto;
    margin-top: 100px;
    display: list-item;
    width: 10%;
    height: 10%;
  }
  
  .container .body h1 {
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
  }

  .container .body .contact {
    margin-left: 85px;
  }
  
  .body .email{
    margin-left: 14px;
    font-size: 40px;
  }
  
  .body .email p{
    font-size: 15px;
  }
  
  .body .linkedin{
    font-size: 40px;
    color: darkgray;
  }
  
  .body .github{
    font-size: 40px;
  }

  .container .footer .rightarrow {
    margin-left: 210px;
  }

  }

@media screen and (max-width : 320px) {

.container .title img {
  margin: auto;
  height: 30%;
  width: 30%;
}

.container img {
  margin: auto;
  margin-top: 50px;
  display: list-item;
  width: 10%;
  height: 10%;
}

.container .body h1 {
  text-align: center;
  margin: auto;
  font-size: 13px;
  margin-top: 80px;
}

.body .email{
  margin-left: 8px;
  font-size: 20px;
}

.body .email p{
  font-size: 10px;
}

.body .linkedin{
  font-size: 20px;
  color: darkgray;
}

.body .github{
  font-size: 20px;
}

.container .footer {
  font-size: 10px;
}

.container .footer .rightarrow {
  margin-top: -92px;
  margin-left: 170px;
}

}